#bg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

body {
  margin: 0px;
}

.label {
  color: #fff;
  font-family: sans-serif;
  padding: 2px;
}

main {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0px 8px 48px;
}

.chat-history {
  background-color: aliceblue;
  margin-bottom: 24px;
  max-height: 150px;
  padding: 8px;
}

.chat-input {
  background-color: aliceblue;
  padding: 8px;
}
